*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.d-flex{
    display: flex;
}

.icona{
    width: 50px;
    border-radius: 50%;
}

i{
    cursor: pointer;
}

.d-none{
    display: none;
}

.active{
    display: block;
}
/* /utility class */
#top{
    width: 100vw;
    background-color: blue;
    height: 20vh;
    position: absolute;
    z-index: 1;
}

#bottom{
    height: 80vh;
    width: 100vw;
    background-color: coral;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.container{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

aside{
    width: 400px;
}

#side_header{
    background-color: lightgrey;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#side_header div{
    margin: 0 10px;
}

#side_header span{
    align-self: center;
    text-transform: capitalize;
    margin-left: 5px;
    font-size: 1.4rem;
}

#side_header i{
    margin: 0 5px;
    color: grey;
    font-size: 1.5rem;
}
/* /#side_header */

#notifiche{
    background-color: lightskyblue;
    height: 80px;
}

#notifiche{
    justify-content: center;
    align-items: center;
}

#notifiche div#bell{
    font-size: 1.5rem;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

#notifiche i{
    color: lightskyblue;
}

#notifiche div{
    margin: 0 10px;
}

#notifiche h2{
    font-weight: 500;
    font-size: 20px;
}
/* /notifiche */

#search{
    background-color: white;
    height: 50px;
    justify-content: left;
    align-items: center;
}

#search input{
    width: 80%;
    margin: 0 10px;
    border: 0;
    outline: 0;
    font-size: 15px;
}

#search i{
    color: grey;
    margin: 0 10px;
    font-size: 1.3rem;
}
/* /search */

#contact{
    height: calc(100vh - 350px);
}

#contact ul{
    overflow-y: scroll;
    height: 100%;
}

#contact li{
    background-color: white;
    padding: 10px;
    height: 80px;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#contact li:hover{
    background-color: lightgrey;
    transition: all 0.2s;
}

#contact .ora{
    position: absolute;
    top: 10%;
    right: 10%;
    color: grey;
}

#contact .last_mex{
    color: grey;
    margin-left: 10px;
}

#contact .nome{
    margin-left: 10px;
    text-transform: capitalize;
    font-size: 1.4rem;
}
/* /contact */
/* /aside */

#main{
    width: calc(100vw - 500px);
    background-color: pink;
}

#main_header{
    background-color: lightgrey;
    height: 80px;
    border-left: 2px solid grey;
    align-items: center;
    justify-content: space-between;
}

#main_header_left{
    align-items: center;
}

#main_header div{
    margin: 0 10px;
}

#main_header_name{
    text-transform: capitalize;
    font-size: 1.4rem;
}

#main_header_right i{
    color: grey;
    font-size: 1.8rem;
    margin: 0 7px;
}
/* /main_header */

#chat{
    width: 100%;
    height: calc(100vh - 300px);
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
    flex-direction: column;
}

.message{
    max-width: 55%;
    margin: 5px 20px;
    border-radius: 5%;
}

.received{
    background-color:white;
    align-self: flex-start;
}

.sent{
    background-color: #DCF8C6;
    align-self: flex-end;
}

.contenuto{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

#nuova_conversazione{
    flex-direction: column;
}

#nuova_conversazione .fa-chevron-down{
    padding: 5px;
    color: grey;
}

#nuova_conversazione .box-elimina-mex{
    align-self: flex-end;
    position: relative;
}

#nuova_conversazione .box-elimina-mex:hover .elimina-mex{
    display: block;
}

.elimina-mex{
    display: none;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height: 60px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px grey;
    color: rgb(83, 83, 83);
    align-items: center;
    cursor: pointer;
}

#nuova_conversazione .ora{
    padding: 5px 10px;
    font-size: 0.8rem;
    color: grey;
    justify-content: flex-start;
}
/* /chat */

#type{
    background-color: rgb(243, 234, 234);
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#type i{
    color: grey;
    font-size: 1.8rem;
}

#type input{
    width: 90%;
    height: 50px;
    padding: 10px;
    border: 0; 
    outline: 0;
}